body {
    color: #fff;
    background: #3598dc;
    font-family: 'Roboto', sans-serif;
  }
  .form-control {
    height: 41px;
    background: #f2f2f2;
    box-shadow: none !important;
    border: none;
    border-radius: 3px;
  }
  .form-control:focus {
    background: #e2e2e2;
  }
  .btn {
    border-radius: 3px;
  }
  .generic-form {
    width: 400px;
    margin: 30px auto;
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
  }
  .generic-form a {
    color: #3598dc;
    text-decoration: none;
  }
  .generic-form a:hover {
    text-decoration: underline;
  }
  .generic-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
  }
  .generic-form hr {
    margin: 0 -30px 20px;
  }
  .generic-form .form-group {
    margin-bottom: 20px;
  }
  .generic-form .row div:first-child {
    padding-right: 10px;
  }
  .generic-form .row div:last-child {
    padding-left: 10px;
  }
  .generic-form .btn {
    font-size: 16px;
    font-weight: bold;
    background: #3598dc;
    border: none;
    min-width: 140px;
  }
  .generic-form .btn:hover, .generic-form .btn:focus {
    background: #2389cd !important;
    outline: none;
  }
  .generic-form a {
    color: #333;
    text-decoration: underline;
  }
  .generic-form a:hover {
    text-decoration: none;
  }
  .generic-form .hint-text {
    padding-bottom: 15px;
    text-align: center;
  }
  